:root {
    --softBlue: rgb(70, 120, 200); /* https://www.w3schools.com/css/css3_variables.asp */
    --darkSoftBlue: rgb(40, 80, 130);
    --darkDarkPurple: rgb(15, 15, 20);
    background-color: var(--darkDarkPurple);
}

h1 {
    color: white;
    font: 25pt Helvetica;
    font-weight: bold;
    position: relative;
    margin: 20px 70px;
}

img {
    border: 5px solid black;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    margin: 0px 70px;
}

/* Navigation Bar formatting */
nav {
    display: flex;
    align-items: center;
    gap: 30px;

    background-color: var(--softBlue);
}

nav h2{
    font: 20pt "Verdana";
    font-weight: bold;
    margin-left: 15px;
}

nav a{
    font: 15pt "Arial";
    font-weight: bolder;
    text-decoration: none;
    color: White;
}

nav a:hover{
    color: rgb(200, 180, 230);
}

/* Dropdown Menu formatting */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    border: 5px solid black;
    background-color: var(--darkSoftBlue);
}

.dropdownContent {
    display: none;
    position: absolute;
    left: -40px;
    width: 160px;
    text-align: center;
    z-index: 1;
}

.dropdownContent > a {
    padding: 5px;
    font: 12pt Arial;
}

.dropdownContent > a:hover {
    background-color: var(--softBlue);
}

/* Special Navigation Bar/Dropdown Menu formatting */
nav #links{
    margin: auto 50px auto auto; /* https://stackoverflow.com/questions/35269947/how-can-i-align-one-item-right-with-flexbox */
}

.nonClickable{
    color:rgb(240, 240, 240);
    text-shadow: -2px 0 black, 0 -2px black, 0 2px black, 2px 0 black; /* https://stackoverflow.com/questions/2570972/css-font-border */
}

.nonClickable:hover{
    cursor: default;
}

/* Section formatting (Introduction, The Basics, etc.) */
.section {
    background-color: rgb(25, 30, 35);
    border-radius: 15px 15px;
    box-shadow: 7px 15px;
}

.section > *{
    margin: 20px 10px;
}

.section > h2 {
    font-family: Verdana;
    color: white;
}

/* Topic formatting (Types, Non-exception Failures, etc.; inside a Section) */
.topic{
    margin-bottom: 40px;;
}

.topic > h3{
    font: 17pt Verdana;
    color: white;
}

.topic > h4{
    font: 14pt Verdana;
    color: white;
}

.topic > p, .topic > ul{
    color: white;
    font: 12pt Arial;
}

.topic > ul > li {
    padding: 5px 0px;
}

.topic strong{
    color: aqua;
}

/* Command Line snippet formatting */
.cmd{
    color: lightgray;
    font-family: "Lucida Console";
    font-weight: bolder;

    display: inline-block;
    padding: 1px 5px;
    border-radius: 5px;
    background-color: var(--darkDarkPurple);
    
}

/* Code blocks formatting */
.code {
    display: block;
    background-color: black;
    border: 1px solid var(--softBlue);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

    color: antiquewhite;
    font: 13pt "Courier New";
}

/* Terminal blocks formatting, should be inside a .code block */
.code .terminal {
    color: lightgray;
    font: 13pt "Lucida Console";
}

/* Special formatting for items on the 'Hello World' webpage */
#clickButtonsButton{
    font: 30pt "Courier New";
    font-weight: bolder;
    border: 3px solid brown;
    width: 300px;
    height: 100px;
    position: relative;

    box-shadow: 7px 7px black;
}

#clickButtonsButton:active {
    background-color: goldenrod;
    box-shadow: 3px 3px black;
    top: 5px;
    left: 5px;
}

/* anything inside a center tag will be centered */
.center {
    text-align: center;
}

/*
.name {color: green}
.gen {color: orange}
.obj {color: skyblue}
.var {color: yellow}
.mtd {color: goldenrod}
.con {color: aqua}
.str {color:aquamarine}
*/