:root {
    --softBlue: rgb(80, 150, 250); /* https://www.w3schools.com/css/css3_variables.asp */
    background-color: rgb(15, 15, 20);
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;

    background-color: var(--softBlue);
}

h1 {
    color: white;
    font: 25pt Helvetica;
    font-weight: bold;
    position: relative;
    margin: 20px 70px;
}

img {
    border: 5px solid black;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    margin: 0px 70px;
}

/* Section formatting (Introduction, The Basics, etc.) */
.section {
    background-color: rgb(25, 30, 35);
    border-radius: 15px 15px;
    box-shadow: 7px 15px;
}

.section > *{
    margin: 20px 10px;
}

.section > h2 {
    font-family: Verdana;
    color: white;
}

/* Topic formatting (Types, Non-exception Failures, etc.; inside a Section) */
.topic{
    margin-bottom: 40px;;
}

.topic > h3{
    font: 17pt Verdana;
    color: white;
}

.topic > p{
    color: white;
    font: 12pt Arial;
}

/* anything inside a center tag will be centered */
.center {
    text-align: center;
}

/* Code blocks */
.code {
    display: block;
    background-color: black;
    border: 1px solid var(--softBlue);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

    color: antiquewhite;
    font: 13pt "Courier New";
}

/*
.name {color: green}
.gen {color: orange}
.obj {color: skyblue}
.var {color: yellow}
.mtd {color: goldenrod}
.con {color: aqua}
.str {color:aquamarine}
*/