:root{
    background-color: rgb(15, 15, 20);
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;

    background-color: rgb(80, 150, 250);
}

h1{
    color: white;
    font: 25pt Helvetica;
    font-weight: bold;
    position: relative;
    margin: 20px 70px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    margin: 0px 70px;
}

/* Section formatting (Introduction, The Basics, etc.) */
.section {
    background-color: rgb(25, 30, 35);
    border-radius: 15px 15px;
    box-shadow: 7px 15px;
}

.section > .topic, .section > h2{
    margin: 20px 10px;
}

.section > h2 {
    font-family: Verdana;
    color: white;
}

/* Topic formatting (Types, Non-exception Failures, etc.; inside a Section) */
.topic > h3{
    font: 17pt Verdana;
    color: white;
}

.topic > p{
    color: white;
    font: 12pt "Arial";
}